.character {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 400px;
  }

  &--li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(218, 139, 60);
    overflow: hidden;
    width: 110px;

    @media (min-width: 768px) {
      width: 220px;
    }
    @media (min-width: 1200px) {
      width: 380px;
    }
  }
  &--link {
    text-decoration: none;
  }
  &--img {
    width: 100%;
    height: 400px;
  }

  &--title {
    color: white;
    padding: 8px 20px 5px 20px;
    font-size: 1.5rem;
    @media (min-width: 1200px) {
      font-size: 1.8rem;
    }
  }
  &--description {
    color: white;
    padding: 0 20px 8px 20px;

    font-size: 1.4rem;
  }
  &--error {
    color: white;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    @media (min-width: 768px) {
      font-size: 2.1rem;
    }
    @media (min-width: 1200px) {
      font-size: 2.4rem;
    }
  }
}
