.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &--label {
    margin: 0 0 1px 0;
    padding: 5px 5px 5px 0;
    font-size: 1.9rem;
    color: white;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
  }
  &--input__text {
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    border: 0.8px solid rgb(218, 139, 60);
    font-size: 1.7rem;
    outline: none;
    background-color: grey;
    color: white;
    width: 300px;
  }
  &--input__option {
    font-size: 1.5rem;
    background-color: grey;
    color: white;
  }
}
