// .hidden {
//   display: none;
// }

.text--error {
  color: rgb(234, 86, 86);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
